:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
  color: rgba(255, 255, 255, 0.87);
}

.app-container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-logo {
  margin-top: 1rem;
  height: 85px;
  width: auto;
}

form {
  display: flex;
  gap: 10px;
}

input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 4px;
  width: 250px;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #eb3e0a;
  color: white;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.movie-card {
  background-color: #333;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

.movie-card img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
}

.movie-card h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.movie-card p {
  margin-bottom: 5px;
}

.star-rating {
  margin-top: 10px;
}

.no-results {
  text-align: center;
  margin-top: 20px;
  font-size: 1.5rem;
}

.movie-card {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000d7;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  padding: 15px;
}

.movie-card:hover .card-overlay {
  opacity: 1;
}

.movie-card:hover .card-content {
  opacity: 0;
}